h2 Home
/ - @users.each do |userCliff's Hartman Model| %p User: #{link_to user.email, user}
h2 Cliff's Hartman Model
hr
a href="/auth/twitter"
	= image_tag "twitter_64.png", :size => "64x64",:alt => "Twitter"

a href="/auth/linkedin" 
	= image_tag "linkedin_64.png", :size => "64x64", :alt => "LinkedIn" 

